/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css?family=Montserrat:600&display=swap';

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

.bannerImg{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
  opacity: 0.5;
  z-index: 1;
}

.headerContainer {
  z-index: 1;
}

.alertText {
  font-weight: bold;
  color: #19B30C;
}

.alertButton {
  border-radius: 10px;
}

.NavBar .dropdown-menu.show {
  width: 100vw;
  padding: 0;
}

.NavBar .dropdown, .btn-group {
  position: static;
}

.bannerImg img {
  filter: brightness(30%);
}

.searchBar {
  top: 12vw;
  z-index: 2;
}

.bannerTextContainer {
  top: 30vw;
  z-index: 2;
  opacity: 70%;

}

.bannerText {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: 0 50px;
}

.footerImgHolder > span {
  position: absolute !important;
  bottom: 50px;
  left: 20px;
}

.footer a{
  color: white;
}


/* Social Bar */

nav.socialBar {
  position: fixed;
  width: 30px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4);
  z-index: 10;
  left:0;

}

nav.socialBar ul {
  margin-top: 0;
  margin-bottom: 0rem;
  list-style: none;
  color:rgba(0, 0, 0, .3);
  padding-left: 0;
}

nav.socialBar li {
  height: 45px;
  position: relative
}

nav.socialBar li a {
  color: #fff !important;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px;
  padding-left: 25%;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  transition: all .3s linear;
  text-decoration: none !important
}

nav.socialBar li:nth-child(1) a {
  background: #4267B2
}

nav.socialBar li:nth-child(2) a {
  background: #1DA1F2
}

nav.socialBar li:nth-child(3) a {
  background: #E1306C
}

nav.socialBar li:nth-child(4) a {
  background: #2867B2
}

nav.socialBar li:nth-child(5) a {
  background: #333
}

nav.socialBar li:nth-child(6) a {
  background: #ff0000
}

nav.socialBar li a i {
  position: absolute;
  top: 14px;
  font-size: 15px
}

nav.socialBar ul li a span {
  display: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase
}

nav.socialBar a:hover {
  z-index: 1;
  width: 160px;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3)
}

nav.socialBar ul li:hover a span {
  padding-left: 20%;
  display: block;
  font-size: 15px
}

.homeCardSellerType .btn-sm {
  padding: 5px 5px;
    font-size: 12px;
}

.filterBtn .dropdown-menu.show {
  width: 100vw;
  padding: 0;
}

.filterBtn .dropdown, .btn-group {
  position: static;
}